
<div class="container"> 
<h1>Meu Portfólio</h1>
<p>Você pode ler mais sobre mim, ou verificar meu blog</p>
    <%= link_to "Sobre Mim", about_path, class:"btn btn-secondary"%>
   
    <%= link_to "Blog", posts_path, class:"btn btn-primary" %>
</div>